 <div class="col-md-12">
  
<div class="col-md-3">

    <form class="form-inline">
      <label>Geometry type &nbsp;</label> 
      <button (click)="setDefault()">setDefault</button>
     
      <select id="type" *ngIf="drawtype" (change)="onChangeGeometry($event.target.value)">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <!-- <option value="Circle">Circle</option> -->
      </select>
        
        <select id="modetype"(change)="onchangeMode($event.target.value)">
        <option value="view">View</option>
        <option value="draw">Draw</option>
        <option value="delete">Delete</option>
       </select>
     
      
      <br>
      <label> mouse positon</label>
      <div id="mouse_positions"></div>
      <br>
       <div class="checkbox">
  <label><input type="checkbox" (change)="groundtruth($event)" value="groundtruth" checked>Show detections({{total_detections}})</label>
  <br>
  <label><input type="checkbox" (change)="userdraw($event)" value="userdraw" checked>Show my markings({{drawn_features}})</label>
   <br>
  <label><input type="checkbox" (change)="userdel($event)" value="userdel">Show my deletions:({{deleted_features}})</label>
</div>

      <button class="btn btn-primary" (click)="getFeature()">getFeature  </button>

</form> 
    


</div>
<div class="col-md-9" >

<div id="map"  class="map"></div>

</div>

</div> 