 <div class="col-md-12">
  
    <button class="btn btn-primary pull-right" (click)="setDefault()" >   
    <span  style="cursor:move" class="glyphicon glyphicon-screenshot "></span>
  </button>
  <br>
 <div class="row" style="padding:20px">
  <div class="col-md-3 well" style="margin-top:40px">
    <form class="form-inline">
      <div class="col-md-6 col-md-offset-3">
      <span class="badge">Geometry type</span>
      </div>

    <div class="col-md-12" style="margin-top:15px;">
      <div class="col-md-6"> 
        <select style="cursor:pointer" id="modetype" class="form-control" (change)="onchangeMode($event.target.value)">
            <option value="view">View</option>
            <option value="draw">Draw</option>
            <option value="delete">Delete</option>
            </select>
        </div>    
          <div class="col-md-6"> 
            <select style="cursor:pointer" id="type" class="form-control" *ngIf="drawtype" (change)="onChangeGeometry($event.target.value)">
            <option value="LineString">LineString</option>
            <option value="Polygon">Polygon</option>
            </select>
         </div>
      </div>
     
       <div class="col-md-12" style="margin-top:15px;">
         <div  class="col-md-6 col-md-offset-3" style="margin-top:15px;">
          <span class="badge" >Mouse Position</span>
        </div>
        <div id="mouse_positions"class="badge col-md-8 col-md-offset-2" style="margin-top:15px;" ></div>
      </div>
     
      
      <ul class="col-md-12 list-group" style="margin-top:15px;">
          <li class="list-group-item">
              <label style=" cursor:pointer " ><input type="checkbox" (change)="groundtruth($event)" value="groundtruth" checked>Show detections({{total_detections}})</label>
          </li>
          <li class="list-group-item">
              <label style=" cursor:pointer "><input type="checkbox" (change)="userdraw($event)" value="userdraw" checked>Show my markings({{drawn_features}})</label>
          </li>
          <li class="list-group-item">
              <label style=" cursor:pointer "><input type="checkbox" (change)="userdel($event)" value="userdel">Show my deletions:({{deleted_features}})</label>
          </li>
        </ul>
     
      <br>
      <div class="col-md-12">
        
        <label  class="w3-center w3-animate-zoom" style="color:green;font-weight:bold" *ngIf="response" >
            <p><i class="fa fa-spinner w3-spin" style="font-size:24px"></i></p></label>

            <label class="w3-center w3-animate-zoom" style="color:green;font-weight:bold">{{response_Msg}}</label>
        <button class="btn btn-primary pull-right"  (click)="postFeature()">Save</button>
    
      </div>

</form> 
</div>

  <div class="col-md-9"  style=" border-radius: 25px;border: 2px solid rgba(73, 83, 92, 0.21);padding: 10px;">

      <div id="map"  class="map"></div>

  </div>
</div>

</div> 