<div class="col-md-6 col-md-offset-3">
  <md-card>
<md-tab-group >
 <md-tab class="aa"  label="Login">
    
<form [formGroup]="loginform" (ngSubmit)="Login()" class="validate">

      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control">
      </div>
      <!-- .form-group -->

      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control">
      </div>
      <!-- .form-group -->
         <div class="form-group">
        <label>E-mail</label>
        <input type="email" formControlName="email" class="form-control">
      </div>

      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-blue">
      </div>
      <!-- .form-group -->
 </form>

  </md-tab>
  <md-tab label="Register">
    
    <app-register></app-register>

  </md-tab>

</md-tab-group>
  </md-card>
</div>

<!-- <p>{{loginform.value|json}}</p>
<p>{{loginform.status}}</p> -->

<p>{{logeddata}} </p>
